# See https://github.com/direnv/direnv/blob/master/stdlib.sh for more useful functions

## Load environment variables that are persisted to VCS
dotenv .env.shared

## Load the private, .gitignore'd .env file
dotenv
