link-workspace-packages=true
prefer-workspace-packages=true
shared-workspace-lockfile=true

recursive-install=true

virtual-store-dir=.pnpm

strict-peer-dependencies=true
auto-install-peers=true

publish-branch = main
save-prefix=
resolution-mode=time-based
dedupe-direct-deps=true
patches-dir=tools/patches
