www.mordrum.com {
  file_server
  encode gzip zstd

  # By default, attempt to serve files from the site directory
  handle {
      root * /home/jesse/web/site
  }

  # Minecraft resource packs are stored in a separate directory to keep things clean
  handle_path /resource-packs* {
    root * ./web/resource-packs
  }
}

# Serve the Vanilla Minecraft server's Dynmap/live-map files
map.mordrum.com {
  root * /home/jesse/vanilla_data/plugins/dynmap/web
  file_server
  php_fastcgi unix//run/php/php7.3-fpm.sock
  encode gzip zstd

  #log {
  #    output file /var/log/caddy/example.com.access.log {
  #    	roll_size 3MiB
  #      roll_keep 5
  #      roll_keep_for 48h
  #    }
  #    format console
  #}

  # Uncomment for debugging
  # log {
  #   output stdout
  # }
}

# Redirect root domain to www subdomain; also redirect server IP as people will often click it in hyperlink form
mordrum.com, play.mordrum.com {
  redir https://www.mordrum.com/{uri}
}
